html, body{
    margin: 0;
    padding: 0;
    color: #181818;
}

*{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    outline: none;
}

.logo{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    text-align: center;
}
.header{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    background-color: #2e2e2e;
    padding: 3px 20px;
    border-radius: 5px;
}
.header span{
    font-weight: 700;
    color: rgb(255, 185, 147);
}
.content input{
    position: relative;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid #181818;
    border-radius: 5px;
}
.btn{
    transition: 0.2s;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 30px;
    background-color: #dd6525;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    transition: 0.1s;
    background-color: #e67a3a;
}

.subjects{
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: 180px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.class{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: row;
    margin-bottom: 3px;
}
.class .name{
    position: relative;
    left: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: white;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background-color: #dd6525;
    border-radius: 5px;
    min-width: 300px;
}

.class input{
    position: relative;
    top: 0;
    left: 5px;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    margin-right: 2px;
    border-radius: 5px;
    border: none;
}
.class ::-webkit-input-placeholder{
    color: #d7d7d7;
}

#log .output{
    display: none;
    z-index: 100;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    height: 180px;
    border-radius: 5px;
    overflow: scroll;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 300;
    color: white;
    background-color: #1e1e1e;
    padding: 3px 20px;
}

#log .output p{
    position: relative;
    top: 10px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}

#log button{
    background-color: #dd4425;
}
#log button:hover{
    background-color: #e65a3a;
}
#log button:disabled{
    background-color: rgb(123, 123, 123);
}

.loader {
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin: -5px 0 0 -25px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #dd6525;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }